@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
        <p>This propose is for share files.</p>
    </div>
<div class="text-center row flex-xl-row">
    <div class="col-6">
        <a class="btn btn-lg btn-primary btn-block" href="./Upload/Index">upload</a>
    </div>
    <div class="col-6">
        <a class="btn btn-lg btn-primary btn-block" href="./DownLoad/Index" >download</a>

    </div>
</div>
